* {
    -fx-font-family: 'Calibri';
}

.fondo {
    -fx-background-color: #97d4fc;
}

.negrita {
    -fx-font-weight: bold;
}

.cursorPointer {
    -fx-cursor: hand;
}

#tituloNoticias {
    -fx-font-size: 30px;
}

